<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VdO2013LicenseProviderUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VdO2013LicenseProviderUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VdO2013LicenseProviderUtil.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="context" serializeAs="String">
                <value />
            </setting>
        </VdO2013LicenseProviderUtil.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VdO2013LicenseProviderUtil.Properties.Settings>
            <setting name="WSActivationOnLine" serializeAs="String">
                <value>http://www.qr-site.it/VdoLicenseProvider.asmx</value>
            </setting>
            <setting name="WSActivation" serializeAs="String">
                <value>http://localhost:1456/VdOLicenseProvider.asmx</value>
            </setting>
            <setting name="WSActivationOnLine2" serializeAs="String">
                <value>http://www.qr-site.it/VdoLicenseProvider2.asmx</value>
            </setting>
            <setting name="WSActivation2" serializeAs="String">
                <value>http://localhost:20141/VdOLicenseProvider2.asmx</value>
            </setting>
            <setting name="WSActivationOnLine3" serializeAs="String">
                <value>http://www.volantinodelleofferte.it/ws4/VdOLicenseProvider3.asmx</value>
            </setting>
            <setting name="WSActivation3" serializeAs="String">
                <value>http://localhost:20141/VdOLicenseProvider3.asmx</value>
            </setting>
            <setting name="WSActivationOnLine4" serializeAs="String">
                <value>http://www.volantinodelleofferte.it/ws4/VdOLicenseProvider3.asmx</value>
            </setting>
            <setting name="WSActivation4" serializeAs="String">
                <value>http://localhost:20141/VdOLicenseProvider3.asmx</value>
            </setting>
        </VdO2013LicenseProviderUtil.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
